.nav {
  background-color: dodgerblue;
  padding: 20px 50px;
}

.nav .list_nav {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 15px;
}

.nav .tit {
  color: #fff;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav button {
  margin-left: 10px;
  padding: 6px 12px;
  font-weight: bold;
  border-radius: 5px;
  background-color: white;
  color: dodgerblue;
  border: none;
  cursor: pointer;
}
